.container img {
  background-size: 100%;
  width: 100%;
  max-height: 100vh;
  padding-top: 60px;
}
.container {
  position: relative;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  button {
    padding: 10px 30px;
    border-radius: 10px;
  }
  img {
    width: 130px;
  }
  h2 {
    font-size: 35px;
    color: aliceblue;
  }
}
.magicbox {
  width: 90%;
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 360px;
  img {
    width: 250px;
  }
  span {
    border: 2ps solid white;
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    display: none;
  }
}

@media (max-width: 1024px) {
  .magicbox {
    width: 75%;
  }
}
@media (max-width: 780px) {
  .block h2 {
    font-size: 30px;
  }
  .block {
    gap: 6px;
  }
  .magicbox img {
    width: 218px;
  }
}
@media (max-width: 640px) {
  .magicbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
    // margin-inline: 100px;
    button {
      display: none;
    }
  }
}
@media (max-width: 475px) {
  .magicbox {
    // margin-inline: 50px;
    .image {
      width: 120px;
    }
    img {
      margin-top: -40px;
      width: 260px;
    }
    span {
      display: flex;
      margin-top: 20px;
      padding: 10px 70px;
    }
  }
}
@media (max-width: 400px) {
  .magicbox {
    padding-top: 68px;
  }
}
