.title {
  padding-block: 30px;
  h1 {
    font-size: 35px;
  }
}
.works {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  img {
    width: 100%;
    max-width: 330px;
    min-height: 210px;
  }
}

@media (max-width: 1024px) {
  .works img {
    max-width: 262px;
  }
}
@media (max-width: 885px) {
  .works img {
    max-width: 225px;
  }
  .title p {
    width: 250px;
  }
}
@media (max-width: 770px) {
  .container {
    .works {
      flex-direction: column;
      gap: 20px;
    }
  }
}
@media (max-width: 640px) {
  .container {
    .works {
      align-items: center;
    }
     .title{
      padding-left: 40px;
     }
    .works img {
      max-width: 200px;
    }
  }
}
